# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Code\original\FPT\FPT\SVN\Release\Handover\Server side\Source code\Backend\secureskye\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
